@import "helpers/varibles";
@import "helpers/functions";
@import "helpers/mixins";
 
/*==============BOOTSTRAP===========================*/
@import "vendor/bootstrap-grid/bootstrap-grid.scss";

/*==========FONTS===============*/
@import "base/fonts";




body{
	background: blue;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;


}
